@use "variaveis";
@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: variaveis.$color-bg-darkhome;
  color: variaveis.$color-text;
}

h1,
h2,
h3,
h4,
h5 {
  color: variaveis.$color-title;
}

.btn {
  background-color: variaveis.$btn-color-bg;
  color: variaveis.$btn-color-text;
}

.header {
  border-bottom: 1px solid variaveis.$color-primary;
}

.header__container {
  padding: .7em 0;
  text-align: center;
  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 12px;

    .container__img img {
      width: 2em;
      max-height: 100%;
    }

    .nome {
      font-size: 16px;
      margin: 0;
    }
  }

  .navbar-nav .nav-item a {
    color: variaveis.$color-title;
  }

  .navbar-nav .nav-item .active {
    color: variaveis.$color-title;
    opacity: 85%;
  }
}

.contato {
  padding-top: 2em;
  text-align: center;
  color: #Fff;
}

h1 {
  font-weight: bold;
}

form {
  text-align: start;
  margin: 2.5em auto 0;
  width: 40%;

  .form-text {
    color: #Fff;
    margin: 1em 0;
  }

  .form-control {
    background-color: #Fff;
  }

  .btn {
    font-weight: bold;
    background-color: variaveis.$btn-color-bg;
  }
}