@use "variaveis";
@use "reset";
@use "header";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: variaveis.$color-bg-darkhome;
  color: variaveis.$color-text;
}

h1,
h2,
h3,
h4,
h5 {
  color: variaveis.$color-title;
}

.btn {
  background-color: variaveis.$btn-color-bg;
  color: variaveis.$btn-color-text;
}

.contato {
  padding: 2em 0;
  text-align: center;
  color: #Fff;
}

h1 {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 2.5em auto 0;
  width: 43%;


  .form-text {
    color: #Fff;
    margin-bottom: 2em;
  }

  .form-control {
    background-color: #Fff;
  }

  .btn {
    font-weight: bold;
    background-color: variaveis.$btn-color-bg;
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: variaveis.$celular) {
  form {
    width: 80%;
  }
}