@use "variaveis";
@use "reset";
@use "header";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: variaveis.$color-bg-darkhome;
  color: variaveis.$color-text;
}

h1,
h2,
h3,
h4,
h5 {
  color: variaveis.$color-title;
}

.btn {
  background-color: variaveis.$btn-color-bg;
  color: variaveis.$btn-color-text;
}

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 88px);
  align-items: center;
  display: flex;
  padding-bottom: 77px;

  .barra-lateral {
    position: fixed;
    left: 0;
    bottom: 0;

    @media screen and (max-width:variaveis.$celular) {
      position: fixed;
      bottom: 0;
    }

    .lista-lateral {
      padding: 10px;
      background-color: #020c15;
    }

    @media screen and (max-width:variaveis.$celular) {
      .lista-lateral {
        display: flex;
        gap: .5em;
        padding: 0;
      }
    }

    .barra-lateral__icon {
      font-size: 35px;
      color: variaveis.$color-title;
    }

    ul li {
      list-style: none;
    }

    i {
      width: 100px;
    }

  }

  @media screen and (max-width:variaveis.$celular) {
    .inicio__container-texto {
      font-size: .3em;
    }
  }


  .inicio__container-texto .ola {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3.5em;
    color: variaveis.$color-title;
  }

  .inicio__container-texto span {
    color: variaveis.$color-primary;
  }

  .inicio__container-btn {
    display: flex;
    gap: 6px;
    margin-top: 25px;
    width: 85%;
    margin: 0 auto;

    .btn {
      font-weight: bold;
      font-size: 20px;
      flex-grow: 1;
    }

    .btn:hover {
      background-color: #E81B5C;
    }
  }

  @media screen and (max-width:variaveis.$tablet) {
    .inicio__container-texto {
      font-size: .55em;
    }

    .inicio__container-btn {
      .btn {
        font-size: .8em;
      }
    }
  }

  .inicio__container span {
    color: variaveis.$color-primary;
  }
}