@use "variaveis";
@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: variaveis.$color-bg-darkhome;
  color: variaveis.$color-text;
}



@media screen and (max-width:576px) {
  .container {
    width: 90%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: variaveis.$color-title;
}

.btn {
  background-color: variaveis.$btn-color-bg;
  color: variaveis.$btn-color-text;
}

.header {
  border-bottom: 1px solid variaveis.$color-primary;
}

.header__container {
  padding: .7em 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 12px;

    .container__img img {
      width: 2em;
      max-height: 100%;
    }

    @media screen and (max-width:576px) {
      .nome {
        display: none;
      }
    }

    .nome {
      font-size: 16px;
      margin: 0;
    }
  }

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  .navbar-nav .nav-item a {
    color: variaveis.$color-title;
  }

  .navbar-nav .nav-item .active {
    color: variaveis.$color-title;
    opacity: 85%;
  }
}

.projetos {

  h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    margin: .5em 0 1em;
  }
}

.cards {
  gap: 2%;
  column-count: 1
}

@media screen and (min-width:576px) {
  .cards {
    column-count: 2
  }
}


.cardo {
  background-color: #021017;
  border: #012640 1px solid;
  padding: 1em;
  max-width: 100%;
  margin: 0 0 1em 0;
  height: fit-content;
  border-radius: 15px;

  img {
    border-radius: 15px;
    width: 100%;
  }

  h3 {
    font-weight: bold;
    font-size: 22px;
    width: fit-content;
    margin: .5em auto;
    color: variaveis.$color-title;
  }

  p {
    color: aliceblue;
  }
}