@use "variaveis";
@use "reset";
@use "header.scss";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  background-color: variaveis.$color-bg-darkhome;
  color: variaveis.$color-text;
}

h1,
h2,
h3,
h4,
h5 {
  color: variaveis.$color-title;
}

.btn {
  background-color: variaveis.$btn-color-bg;
  color: variaveis.$btn-color-text;
}

.projetos {

  @media screen and (min-width:variaveis.$descktop) {
    padding: 0 10%;
  }

  h1 {
    width: 100%;
    margin-bottom: .1;
    text-align: center;
  }

  .projetos__titulo {
    margin: 1em 0 2em 0;
  }

  .projetos__borda {
    display: block;
    width: 5%;
    margin: 0 auto;
    background-color: variaveis.$color-primary;
    height: 5px;
    border-radius: 12px;
    margin-bottom: 1em;
  }
}

.cards {
  gap: 2%;
  column-count: 1
}

@media screen and (min-width:576px) {
  .cards {
    column-count: 2
  }
}


.cardo {
  break-inside: avoid;
  background-color: #021017;
  border: #012640 1px solid;
  padding: 1em;
  max-width: 100%;
  margin: 0 0 1em 0;
  height: fit-content;
  border-radius: 15px;

  .btn {
    width: 40%;
  }

  img {
    width: 100%;
  }

  h3 {
    font-weight: bold;
    font-size: 22px;
    width: fit-content;
    margin: .5em 0;
    color: variaveis.$color-title;
  }

  .card__descricao {
    align-self: flex-end;
  }
}