// paleta de cores alura
$color-primary: #2BDEFD;
$color-title: #D7F9FF;
$color-text: #98D4DE;
$color-bg-darkhome: #01080E;
$btn-color-bg: #2BFDBE;
$btn-color-text: #01080E;
$fiap-primary: #E81B5C;

// 

$fontTech: 'Share Tech Mono', monospace;
;